*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  background-image: url(landscape.png);
  background-repeat: no-repeat;
  background-position: center;
}

.plane {
  height: 100px;
  width: 100px;
  background-image: url(plane.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  left: 5%;
  bottom: 5%;
}

body:hover .plane {
  left: 100%;
  bottom: 100%;
}

.transition {
  transition-property: all;
  transition-duration: 3s;
}