*,
*::after,
*::before{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
     padding:100px;
}
.container .box{
width:400px;
 height:400px;
 margin-bottom:50px;
 background-color: aquamarine;
text-align:center;
 padding:10px;
 font-size:2rem;
 border:solid black;
 border-width:2px 10px;
}
body:hover .box{
 
  /*  transform :(1.2);*/
   /* transform:scale(0.4,1.5);/*0.4 gets applied with X-axis(Horizontally) and 1.5 gets applied with Y-axis(vertically)*/
    
    transform:rotate(45deg);/*will rotate clockwise 45deg*/
    transform:rotate(-45deg);/*will rotate anticlockwise by 45 deg*/
    transform:rotate(0.5turn);/*1 turn=360 deg and rest behaviour is same*/


    transform:skew(30deg);
    transform:skew(30deg ,45deg);/*skew in both X and Y direction*/
    /*Checkout: skewX() ,skewY();*/
     transform:translate(100%);
     transform: translate(400px);
     transform:translate(-50%,-200px);
/*
for translate
x -> -ve  -->left
x -> +ve -->right
y -> +ve  -->down
y -> -ve  -->up
*/

/*NOTE: we can  combine all the transform attributes*/
/*NOTE: try to find and understand these two transforms*/

transform:translate(200px) rotate(90deg);
transform:rotate(90deg) translate(200px) ;
}