 .box{
     width: 1000px;
      height:1000px;
      border: 3px solid black;
      background-color: rgb(155, 148, 148);
 display: flex;
      justify-content: center;  /* center horizontally */
      align-items: center;      /* center vertically */
      margin: 200px auto;   
      
 }