*,
*::after,
*::before{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:250px;
    
}

.container{
    width:900px;
    height:900px;
    border: 1px solid black;;
    background-color: rgb(212, 209, 209);

    
}
h1{
    text-align: center;
    font-size: 5rem;
    padding:50px;

}
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 300px;
    gap:50px;
    

}
.name{
    font-size:2rem;
}
.mobile,.gender,.consent,.city,.submit {
    font-size: 2rem;
    


}


  
#name ,#mobile{
    height:30px;
}
.submit{
    border-radius: 10px;
    box-shadow: 10px;
    background-color: rgb(79, 134, 183);
    color:white;
    padding:20px;   
    

}
input[type="radio"]{
    width:20px;
    height: 20px;
     
}
input[type="checkbox"]{
    width:20px;
    height:20px;
    
}
#city{
    height:40px;
    font-size: 1.2rem;
     
}