*,
*::after,
*::before {
margin:0px;
padding:0px;
box-sizing: border-box;

}
.outer-div{
    border:1px solid black;
    width:80%;
    height:500px;
    margin:100px;
    padding:20px;
    /*display:flex;
    flex-direction:row;
    justify-content: center;*/

}
.inner-div{
    width: 90%;
    height:400px;
   border:1px solid black;
   margin:20px;
  /*  display:flex;
    flex-direction:row;
    justify-content: center;*/

   
}
.div{
    width:80%;
    height:20px;
border:1px solid black;
font-style: normal;
padding:50px;
font-size:1.5rem;
text-align: center;
margin:200px
}
/*event propaagation*/