*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
nav{
    background-color: aquamarine;

}
main{
    background-color: cadetblue;
}
footer{
background-color: rgb(24, 24, 26);
color:white;
}
.container{
    height:100vh;
    display:grid;
    grid-template-rows: 1fr 8fr 1fr;

}   
nav         {
    display  :flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    list-style-type:  none;
    gap:20px;

}
.nav-link{
    text-decoration: none;
    font-size:1.3 rem;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: center ;
    margin: 100px auto;
    border:1px solid black;
    width: fit-content;
      padding:10px;
    border-radius: 20px;
    gap:20px;
}
img{
    width:500px;
  
}
.description    {
    display:flex;
    flex-direction:column;
    gap:20px;
}
.buttons button{
border:1px solid black;
    border-radius: 5px;
    padding:3px;
    margin:5px;
    

}
footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:30px  

}
footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color:white;
}
@media screen and (max-width: 560px){
    nav{
        background-color: red;
        display:flex;
        flex-direction: column;
    }
}         
@media screen and (min-width:450px){
    footer{
        background-color: red;
        display:flex;
        flex-direction: column;

    }
}
/*  Another way     
@media screen and(560<= width <=450){
     footer{
        background-color: red;
        display:flex;
        flex-direction: column;

    }

}*/
